.errorWrapper{
    /* border: 3px solid black; */
    border-radius: 30px;
    margin-top: 40px;
    display: flex;
    overflow: hidden;

    animation: fadeIn 0.1s linear;
}

.errorWrapper .errorIcon{
    background-color: #262626;
    color: red;
    padding: 20px;
    font-size: 40px;
    flex: 1;
    line-height: 1;
}

.errorWrapper .errorMessage{
    font-size: 25px;
    background-color: #DC3545;
    padding: 20px;
    flex: 30;
    vertical-align: middle;
    line-height: 2;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 767px){

    .errorWrapper .errorIcon{
        display: none;
    }

    .errorWrapper .errorMessage{
        font-size: 20px;
        background-color: transparent;
        color: #DC3545;
        line-height: initial;
    }
}


@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}