.homeWrapper{
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.introWrapper, .aboutWrapper{
    margin-bottom: 70px;
    background-color: #fff;
    border-radius: 7px;
    /* border: 1px solid black; */
    padding: 20px;
    box-shadow: 0px 10px 30px #ecf0f1;
}

.introWrapper{
    flex: 1 300px;
    /* max-width: 400px; */
}

.aboutWrapper{
    flex: 3 400px;
    /* max-width: 700px; */
    margin-left: 20px;
}


.introWrapper p, .introWrapper h2{
    margin-bottom: 10px;
}

.contacts{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

li{
    margin-right: 20px;
}


.aboutWrapper p{
    margin: 10px 0px;
    line-height: 30px;
}

.aboutWrapper a {
    display: inline-block;
    margin-top: 10px;
    background-color: #4458dc ;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
}

.aboutWrapper .portfolio {
    margin-right: 20px;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 768px){

    .aboutWrapper{
        margin-left: 0px;
    }

    .aboutWrapper .portfolio {
        margin-right: 19px;
    }

}
