.modalWrapper{
    padding: 10px 10px;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    /* background-color: rgb(169, 174, 240); */
    background-color: rgba(37, 33, 33, 0.7);
    color: white;
    border-radius: 50px;
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.modalWrapper *{
    padding: 0px 10px;
}

.modalWrapper .logo *{
    padding: 0px;
    
}

/* .modalWrapper .logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
} */

.modalWrapper button{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 40px;
    line-height: 10px;
    cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px){

    .modalWrapper{
        width: 100%;
        text-align: center;
        position: fixed;
        bottom: 0px;
        top: auto;
    }

    .modalWrapper *{
        padding: 0px;
    }

}