*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    /* background-color: #0d2a56; */
    /* background-color: #ecf0f1; */
    /* background-color: #EEEEEE; */
    background-color: #FBFBFB;
    font-family: sans-serif ;

    padding: 20px 7%;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}