*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #F2F2F2;
    font-family: sans-serif ;
}

#root{
    padding: 20px 7%;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}