*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #F2F2F2;
    font-family: sans-serif ;
}

#root{
    padding: 20px 7%;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

hr{
    border: none;
}

.fadeIn{
    animation: fadeIn 0.1s linear;
}



/*
 Animations
*/
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}